 
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #161718;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #0f1010;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      h1{
        text-align: center;
        margin: 20px;
      }
 /* Lightmode */

 body.light-theme{
  --primary: #0079ff;
 --primary-hover: #60abff;

 --txt-high-contrast: #2b3442;
 --txt-mid-contrast: #4b6a9b;
 --txt-low-contrast: #697c9a;

 --txt-search: #222731;
 --txt-search-placeholder: #4b6a9b;

 --bg: #f6f8ff;
 --bg-secondary: #fefefe;

 --theme-switch-btn-hover: #222731;
 
 /* Neutral */
 --error: #f74646; 
 }
body.light{
    background-color: #f6f8ff;
}
body.dark-theme {
 background-color: var(--bg);

 /* Darkmode */
 --primary: #0079ff;
 --primary-hover: #60abff;

 --txt-high-contrast: #fff;
 --txt-mid-contrast: #ffff;
 --txt-low-contrast: #fff;

 --txt-search: #fff;
 --txt-search-placeholder: #fff;

 --bg: #141d2f;
 --bg-secondary: #1e2a47;

 --theme-switch-btn-hover: #90a4d4;

 /* Neutral */
 --error: #f74646;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #141d2f; */
    height: 100vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
   .container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
   
    padding: 5px;
   }
   .theme{
    display: flex;
    justify-content: space-between;
    color: #f6f8ff;
   }
h6 img{
    margin-top: 10px;
    cursor: pointer;
}
 #sun{
    width: 13px;
    margin-left: 10px;
    
 }

 .searchBar{
    display: flex;
    justify-content: space-between;
    background-color: #1e2a47;
    width: 100%;
    height: 70px;
    margin-top: 20px;
    border-radius: 15px;
 }
 .icon img {
    width: 27px;
    padding-left: 10px;
    margin-top: 5px;
    cursor: pointer;
 }
 #searchBar{
    font-size: large;
    border: none;
    background-color: transparent;
    width: 230px;
    padding-top: 15px;
    padding-left: 5px;
    color: #fff;
    outline: none;
 }

 #btnsrch{
    width: 80px;
    height: 45px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #0079ff;
    border-radius: 10px;
    border: none;
    color: #fefefe;
    font-weight: 400;
    cursor: pointer;
    padding-bottom: 3px;
 }
 .btn{
    padding-bottom: 5px;
 }
.userintro{
    display: grid;
    
    
}
.profile{
    display: grid;
    grid-template-columns: 120px 160px 160px;
    grid-template-rows: auto auto auto auto;
    margin-top: 41px;
    background-color: #1e2a47;
    padding: 20px;
    border-radius: 10px;
}
.profileimg{
    grid-column: 1/ 2;
    grid-row: 1 / 5;
    
    width: 130px;
}
#proimg{
    width: 100px;
    height: 100px;
    position: relative;
    
}
#passPort{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
   z-index: 1;
   margin-top: 10px;
   margin-left: 10px;
}
.username{
    grid-column: 2 / 3;
    grid-row: 1/ 2;
   
    width: 160px;
}
.username h2{
    color: #fff;
    font-size: small;
    text-transform: capitalize;
}
.username p{
    color: #0079ff;
}
.joined{
    grid-column: 3 / 4;
    grid-row: 1/2;
    color: #fff;
    width: 160px;
}
.contributions{
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2/ 3;
    margin-bottom: 15px;
    height: auto;
    color: #90a4d4;
}
.work{
    display: grid;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-color: 
    #141d2f;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
}
.work p{
    margin-bottom: 5px;
    color: #cac5c5;
}
.workstatus{
    display: flex;
    justify-content: space-between;
}
.social{
    display: grid;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
   margin-top: 15px;
   color: #fff;
}
.socialStatus{
    display: flex;
    justify-content: space-between;

    font-size: small;
}
.socialStatus span{
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #fff;
}
.socialStatus img{
    width: 12px;
    margin-right: 10px;
   
}
.loc a{
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    body {
     display: flex;
     justify-content: center;
     width: 100%;
     height: 100vh;
    }
    .container{
        display: flex;
        justify-content: center;
      padding: 15px;
        width: 100%;
        height: 100vh;
    }
    .theme{
        display: flex;
       width: 100%;
    }
    .searchBar{
        width: 100%;
        height: 60px;
        position: relative;
    }
    .icon img{
     width: 30px;
    position: absolute;
    top: 15px;
    left: -1px;
    }
  #searchBar{
    position: absolute;
    top: 3px;
    left: 30px;
    width: 65%;
    
  }
  #btn{
    margin-top: 3px;
    cursor: pointer;
  }
  #btnsrch{
    cursor: pointer;
  }
  /* .mob{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }.mobile{
    display: flex;
   
  } */
  .profile{
    display: grid;
    grid-template-columns: 150px 190px ;
    grid-template-rows: auto auto auto auto auto;
    margin-top: 41px;
    background-color: #1e2a47;
    padding: 20px;
    border-radius: 10px;
}
.profileimg{
    grid-column: 1/ 2;
    grid-row: 1 / 2;
    
    width: 130px;
}
.username{
    grid-column: 2 / 3;
    grid-row: 1/ 2;
   
    width: 160px;
}
.joined{
    grid-column: 2 / 3;
    grid-row: 1/2;
    color: #fff;
    width: 160px;
    height: 30px;
   
    margin-top: 50px;
}
.contributions{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2/ 3;
    padding-top: 10px;
    margin-bottom: 15px;
    height: auto;
    width: 90%;
    color: #90a4d4;
   
}
.work{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: 
    #141d2f;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    width: 90%;
}
.social{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
   margin-top: 15px;
   color: #fff;
   width: 90%;
}
.socialStatus{
    font-size: smaller;
}
  }
  